// Box Sizing: (border-box);
@mixin box-sizing($type) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}
// Background Gradient: Top to Bottom
@mixin bg-gradient-t2b($start-color, $end-color) {
  background: -moz-linear-gradient(top, $start-color 0%, $end-color 100%);
  background: -webkit-linear-gradient(top, $start-color 0%,$end-color 100%);
  background: linear-gradient(to bottom, $start-color 0%,$end-color 100%);
}
// Box Shadow: Right, Bottom
@mixin box-shadow-rb($shadow-color) {
  -moz-box-shadow: 2px 2px 5px 0 $shadow-color;
  -webkit-box-shadow: 2px 2px 5px 0 $shadow-color;
  box-shadow: 2px 2px 5px 0 $shadow-color;
}
// Range: Track
@mixin track($track-w, $track-h) {
  width: $track-w;
  height: $track-h;
  border-radius: $track-h/2;
  box-shadow: 0 1px 1px #e7e7eb, inset 0 0.125em 0.25em #7c7d7e, inset 0 -.125em 0.125em #c3c3c3;
  background:
    linear-gradient(90deg, rgba(#fff,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(#fff,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(#fff,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(#fff,.19) 50%) #ccc;
  background-size: 13px 100%, 23px 100%, 29px 100%, 31px 100%;
}
// Range: Thump
@mixin thumb($thumb-d, $flag: false) {
  box-sizing: border-box;
  border: solid 0.5em transparent;
  width: $thumb-d;
  height: $thumb-d;
  cursor: ew-resize;
  @if $flag {
    border-radius: 50% 50% 0;
    transform: rotate(45deg);
    box-shadow: $thumb-sh-o, $thumb-sh-i;
    background: $thumb-bg-mid 1px 1px, linear-gradient(135deg, $thumb-bg-main-list) border-box;
  }
  @else {
    border-width: 0.3125em 0.5625em 0.8125em;
    border-radius: $thumb-d;
    box-shadow: $thumb-sh-i2;
    background: $thumb-bg-mid 0 1px, linear-gradient($thumb-bg-main-list) border-box;
    -webkit-clip-path: polygon($thumb-cp);
  }
}
