$col_body_bg: #333;
$col_text: #00000b;
$col_a: #fff;
$col_a_hover: #284186;

$dialog_z: 9;
$dialog_bg_color_s: rgb(73,75,79);
$dialog_bg_color_e: rgb(64,65,66);
$dialog_box_shadow: rbga(0,0,0,0.75);

// Range (a way to mutch :)
$block-w: 1.5em;
$block-h: 0.75em;
$block-gap: 0.25em;
$block-dt: sqrt(pow($block-w + $block-h/2, 2) + pow($block-h/2, 2));
$block-dr: sqrt(pow($block-h + $block-h/2, 2) + pow($block-h/2, 2));
$block-at: atan($block-h/2/($block-w + $block-h/2)) + 90deg;
$block-ar: atan(3) + 90deg;
$block-meet-a: 135deg;
$block-start: $block-h/2/sqrt(2);
$block-endt: $block-dt*cos($block-meet-a - $block-at) - $block-start;
$block-endr: $block-dr*cos($block-meet-a - $block-ar) - $block-start;
$c: ( normal: #8baee3 #cae4ff #5c80b0 #425e8d, filled: #ef6c2c #fcc051 #e45206 #a83301 );
$thumb-d: 1.75em;
$thumb-sh-i: inset 1px 1px 1px rgba(#333, .75);
$thumb-sh-i2: inset 0 1px 1px rgba(#333, .5);
$thumb-sh-o: 0 0 0 1px #808080;
$thumb-sh-o2: 0 0 1px #000;
$thumb-bg-mid: radial-gradient(#db4f08 65%, rgba(#db4f08, 0) 72%) no-repeat, radial-gradient(#fff 65%, rgba(#fff, 0) 72%) no-repeat;
$thumb-bg-main-list: #f3f3f3, #b5b4b5;
$thumb-r: 0.625em;
$thumb-xoff: $thumb-d/2;
$thumb-p: 20;
$thumb-ba: 360deg/$thumb-p;
$thumb-ta: 15deg;
$thumb-aoff: 90deg;
$thumb-sa: $thumb-aoff - $thumb-ta + 360deg;
$thumb-ea: $thumb-aoff + $thumb-ta;
$thumb-cp: $thumb-xoff + $thumb-r*cos($thumb-sa) $thumb-r*(1 + sin($thumb-sa)), 50% 100%, $thumb-xoff + $thumb-r*cos($thumb-ea) $thumb-r*(1 + sin($thumb-ea));
@for $i from 0 through $thumb-p {
  $ca: $thumb-aoff + $i*$thumb-ba;
  @if $ca > $thumb-ea and $thumb-sa > $ca {
    $thumb-cp: $thumb-cp, $thumb-xoff + $thumb-r*cos($ca) $thumb-r*(1 + sin($ca));
  }
}
$track-min: 1;
$track-max: 10;
$track-n: $track-max - $track-min;
$track-k: 10;
$track-u: $block-w + $block-gap;
$track-w: $track-n*$track-u + $thumb-d;
$track-h: 0.5em;
$ruler-off: ($thumb-d - $block-w - $block-gap)/2;
$ruler-off-y: 2*$thumb-d;
$ruler-s: $block-w $block-h, $block-w + $block-h/2 $block-h/2, $block-h/2 3*$block-h/2, $block-w $block-h;
$ruler-list: ();
$ruler-fs: 0.625;
@for $i from $track-min through $track-max {
  $ruler-list: $ruler-list $i;
}
@function blocks($k: $track-k) {
  $bg: ();
  @for $i from $track-min through $track-max {
    $cc: map-get($c, if($i <= $k, filled, normal));
    $bg: linear-gradient(to right bottom, transparent 50%, nth($cc, 1) 50%) $ruler-off + ($i - 1)*$track-u $ruler-off-y + $block-h/2, linear-gradient($block-meet-a, transparent $block-start, nth($cc, 3) $block-start, nth($cc, 3) $block-endt, transparent $block-endt) $ruler-off + ($i - 1)*$track-u $ruler-off-y, linear-gradient($block-meet-a, transparent $block-start, nth($cc, 4) $block-start, nth($cc, 4) $block-endr, transparent $block-endr) $ruler-off + ($i - 1)*$track-u + $block-w $ruler-off-y, linear-gradient(90deg, nth($cc, 1), nth($cc, 2)) $ruler-off + ($i - 1)*$track-u $ruler-off-y + $block-h/2, $bg;
  }
  @return $bg;
}
