@import "compass/reset";
@import "colors";
// @include box-sizing(border-box);
@mixin box-sizing($type) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}
@font-face {
  font-family: Gothic;
  src: url(fonts/LiberationMono-Regular.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}
body {
  background-color: $col_body_bg;
  color: $col_text;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 100%;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

#playfield {
  > #board {
    height: 100%;
    width: 100%;
  }
}

// Dialog's
#fieldinfo {
  display: none;
  position: fixed;
  /* ---------------------------------- */
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, .6);
  border-top: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  /* player color */
  border-left: 4px solid rgb(255, 0, 0);
  padding: 4px;
}
#cards {
  display: none;
  position: fixed;
}
#attac {
  display: none;
  position: fixed;
}
#place {
  display: none;
  position: fixed;
  > .range {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #353535;
    padding: 5px 10px;
    margin-left: 7px;
  }
}
#move {
  display: none;
  position: fixed;
}
