@import "compass/reset";
@import "colors";
// @include box-sizing(border-box);
@mixin box-sizing($type) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}
@font-face {
  font-family: Gothic;
  src: url(fonts/LiberationMono-Regular.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
}
body {
  background-color: $col_body_bg;
  color: $col_text;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 100%;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
/*  Layout:
    TODO: draw a mockup.
    ------------------------------------------------------------------- */
#ui {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  background: -moz-linear-gradient(left,  rgba(0,0,0,.25) 0%, rgba(0,0,0,.1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,.25) 0%,rgba(0,0,0,.1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,.25) 0%,rgba(0,0,0,.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c',GradientType=1 ); /* IE6-9 */

  /*background-color: rgba(0,0,0,.6);*/
  width: 100%;
  height: 40px;
  svg {
    image {
      border-bottom: 2px rgba(200,0,0,.25);
    }
  }
}
#board {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  svg {
    display: block;
    align: right;
    width: 100%;
    height: 100%;
  }
}
#background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image {
    opacity: .025;
    width: 100%;
    height: 100%;
  }
}
