@import "compass/css3";
@import "compass/reset";
@import "var";
@import "mixin";
@import "ui";
@font-face {
  font-family: Gothic;
  src: url("fonts/LiberationMono-Regular.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}
body {
  background-color: #5984ac;
  color: #000;
  font-family: 'LiberationMono';
  font-weight: 100;
  font-size: 100%;
  height: 100vh;
  width: 100vw;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
#game {
  width: 100%;
  height: 100%;
  #gameArea {
    width: 100%;
    height: 100%;
    #startup {
      width: 100%;
      height: 100%;
      background-color: #5984ac;
      background-image: url("../img/sceneStart.png");
      background-size: cover;
      background-repeat: no-repeat;
      section {
        position: absolute;
        top: calc(50% - 3em);
        left: calc(50% - 12em);
      }
    }
    #host {
      section {
        position: absolute;
        top: calc(50% - 3em);
        left: calc(50% - 12em);
      }
    }
    #join {
      section {
        position: absolute;
        top: calc(50% - 3em);
        left: calc(50% - 12em);
      }
    }
    #play {
      width: 100%;
      height: 100%;
      #navigation {
        position: fixed;
        top: 0;
        left: 0;
      }
      #playfield {
        background-color: rgb(0,0,0);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        > #board {
          width: 100vw;
          max-height: 100vh;
          margin-right: auto;
        }
      }
    }
  }
}
#cards {}
#attac {}
#place {}
#move {}
