html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * UI
 */
.ui {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: white;
  font-size: 1em;
}
.ui.hide {
  display: none;
  position: fixed;
}
.ui.show {
  z-index: 9;
  display: inline-block;
  position: fixed;
}
.ui.label {
  padding-bottom: 1em;
}
.ui.button {
  cursor: pointer;
  padding: 0.75em 2em;
  margin-right: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 0.45em;
}
.ui.button.normal {
  background-color: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.ui.button.normal:active, .ui.button.normal:hover {
  -moz-box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.8);
  background-color: rgba(100, 156, 255, 0.5);
}
.ui.button.cancel {
  background-color: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.ui.button.cancel:active, .ui.button.cancel:hover {
  -moz-box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 142, 100, 0.5);
}
.ui.radio label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 2em;
  margin-bottom: 1em;
}
.ui.radio input[type=radio] + label:before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 1em;
  height: 1em;
  border: 1px solid #fff;
  border-radius: 1em;
}
.ui.radio input[type=radio] {
  display: none;
}
.ui.radio input[type=radio]:checked + label:before {
  -moz-box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.8);
  background-color: rgba(100, 156, 255, 0.5);
}

@font-face {
  font-family: "Liberation Mono";
  src: url("../fonts/LiberationMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "game";
  src: url("../fonts/game.eot");
  src: url("../fonts/game.eot?#iefix") format("embedded-opentype"), url("../fonts/game.woff") format("woff"), url("../fonts/game.ttf") format("truetype"), url("../fonts/game.svg#game") format("svg");
  font-weight: normal;
  font-style: normal;
}
.font_icon {
  font-family: "game";
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
}

body {
  background-color: #5984ac;
  color: #000;
  font-family: "Liberation Mono";
  height: 100vh;
  width: 100vw;
}

.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

#game {
  width: 100vw;
  height: 100vh;
}
#game #gameArea {
  width: 100vw;
  height: 100vh;
}
#game #gameArea #startup {
  width: 100vw;
  height: 100vh;
  background-color: #5984ac;
  background-image: url("../img/sceneStart.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game #gameArea #host {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game #gameArea #join {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game #gameArea #play {
  width: 100vw;
  height: 100vh;
}
#game #gameArea #play #navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
}
#game #gameArea #play #playfield {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}
#game #gameArea #play #playfield #board {
  width: 100vw;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
