@import "compass/reset";
@import "colors";

// @include box-sizing(border-box);
@mixin box-sizing($type) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@font-face {
    font-family: Gothic;
    src: url(fonts/LiberationMono-Regular.ttf) format('truetype');
    font-weight: 100;
	font-style: normal;
}

body {
    background-color: $col_body_bg;
	color: $col_text;
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 100%;
}

.clearfix:after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

/*  Layout:
    TODO: draw a mockup.
    ------------------------------------------------------------------- */
#map {
    height: 100%;
    width: 100%;
    >svg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
}
