<html>

<head>
  <title>TEG</title>
  <meta charset="UTF-8">
  <!-- lib -->
  <!--<script src="js/jquery-2.1.3.min.js"></script>-->
  <script src="socket.io/socket.io.js"></script>
  <script src="js/snap.svg.js"></script>
  <link rel="stylesheet" href="css/screen.css" type="text/css" media="all" />
</head>

<body>
  <svg id="background" viewbox="0 0 900 900" xml:space="preserve" preserveAspectRatio="none">
    <image xlink:href="/map/map_risk.svg" src="/map/map_risk.svg" width="100%" height="100%" />
  </svg>
  <div id="ui">
    <svg>
      <image xlink:href="/img/menu_bar.svg" src="/img/menu_bar.svg" width="192" height="40" />
    </svg>
  </div>
  <svg id="board"></svg>
</body>

<!-- client -->
<script src="js/util.js"></script>
<script src="js/board.js"></script>
<script src="js/tegclient.js"></script>

</html>
