<!DOCTYPE html>
<html>

<head>
  <title>TEG</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel=icon href=img/favicon.png type="image/png">
  <link rel="stylesheet" href="css/screen.css" type="text/css" media="all" />
</head>

<body>
  <div id="game">

    <div id="gameArea"></div>

    <script id="Scene-Startup" type="text/template">
      <div id="startup">
        <ul>
          <li><a id="btnViewSceneHost" href="#">HOST</a></li>
          <li><a id="btnViewSceneJoin" href="#">JOIN</a></li>
        </ul>
      </div>
    </script>

    <script id="Scene-Host" type="text/template">
      <div id="host">
        <ul>
          <li><a id="btnViewScenePlay" href="#">PLAY</a></li>
        </ul>
      </div>
    </script>

    <script id="Scene-Join" type="text/template">
      <div id="join">
        <ul>
          <li><a id="btnViewScenePlay" href="#">PLAY</a></li>
        </ul>
      </div>
    </script>

    <script id="Scene-Play" type="text/template">
      <div id="play">
        <div id="navigation"></div>
        <div id="playfield">
          <svg id="board"></svg>
        </div>
        <div id="dialog-cards" class="w_dialog w_hide"></div>
        <div id="dialog-attac" class="w_dialog w_hide"></div>
        <div id="dialog-place" class="w_dialog w_hide"></div>
        <div id="dialog-move" class="w_dialog w_hide"></div>
      </div>
    </script>

  </div>
</body>

<!-- lib -->
<script src="js/jquery-2.1.3.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="js/snap.svg-min.js"></script>
<script src="js/fsm.js"></script>
<!-- client -->
<script src="js/board.js"></script>
<script src="js/tegclient.js"></script>

</html>
